{{ if exists "/opg/nginx/server/names" }}
{{   if exists "/opg/nginx/ssl/force/redirect" }}
server {
    listen      80;
    server_name {{ getv "/opg/nginx/server/names" }};
    return      307 https://$host$request_uri;
}
{{   end }}


server {
    #Using global cert let's also listen on 443
    listen     443 ssl;
{{   if exists "/opg/nginx/server/names" }}
    server_name {{ getv "/opg/nginx/server/names" }};
{{   end }}
    rewrite_log  on;
    access_log  /var/log/app/nginx.access.json logstash_json;
    error_log   /var/log/app/nginx.error.log error;


# Defaults to /app/public if OPG_NGINX_ROOT isn't set
{{   if exists "/opg/nginx/root" }}
    set $root "{{ getv "/opg/nginx/root" }}";
{{   else }}
    set $root "/app/public";
{{   end }}

    root $root;

    location =/meta.json {
        alias /app/META;
    }

    # i.e. deny access to .htaccess in case someone will create it
    location ~ /\. {
        deny  all;
    }

    # Add HTTP Strict Transport Security header - required for .service.gov.uk domains
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; ";
    # serve static files directly

# Defaults to index.html if OPG_NGINX_INDEX isn't set
{{   if exists "/opg/nginx/index" }}
    set $index "{{ getv "/opg/nginx/index" }}";
{{   end }}
{{   if not (exists "/opg/nginx/index") }}
    set $index "index.php";
{{   end }}

    index $index;

    #We've found some php client libraries not understanding chunked response
    chunked_transfer_encoding off;

 #    fastcgi_buffers 256 4k;
 #    fastcgi_buffer_size 4k;

    location / {
        try_files $uri $uri/ /$index$is_args$args;
    }

    location ~ \.php$ {
        fastcgi_index   $index;

        include         fastcgi_params;
        fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
        fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;

        # set X-Request-Id header for fastcqi
        fastcgi_param   HTTP_X_REQUEST_ID  $http_x_request_id;

        fastcgi_pass    127.0.0.1:9000;

        # hide php version
        fastcgi_hide_header "X-Powered-By";
    }

    if ($http_x_request_id = '') {
        set $http_x_request_id $request_id;
    }
    # add x-request-id to response
    add_header X-Request-Id $http_x_request_id;
    proxy_set_header X-Request-Id $http_x_request_id;

    # Optionally include app-specific config files
    include /etc/nginx/app.conf.d/*.conf;
}
{{ end }}
