[/var/log/app/php-fpm-master.log]
format: json
type: php-fpm
tags: php-fpm, {{ getv "/opg/service" "php-fpm" }}, master {{ if exists "/opg/stackname" }}, {{ getv "/opg/stackname" }} {{ end }}
delimiter: \n

[/var/log/app/php-fpm-error.log]
format: json
type: php-fpm
tags: php-fpm, {{ getv "/opg/service" "php-fpm" }}, error {{ if exists "/opg/stackname" }}, {{ getv "/opg/stackname" }} {{ end }}
delimiter: \n

[/var/log/app/php-fpm-slow.log]
format: json
type: php-fpm
tags: php-fpm, {{ getv "/opg/service" "php-fpm" }}, slow {{ if exists "/opg/stackname" }}, {{ getv "/opg/stackname" }} {{ end }}
delimiter: \n
