access_log  /var/log/app/nginx.access.json logstash_json;
error_log   /var/log/app/nginx.error.log error;

{{ if exists "/opg/nginx/ssl/force/redirect" }}
server {
   listen      80;
   return      307 https://$server_name$request_uri;
}
{{ end }}


{{ range lsdir "/opg/nginx/router" }}
server {
{{ if not (exists "/opg/nginx/ssl/force/redirect") }}
    listen     80;
{{ end }}
    listen     443 ssl;
    server_name {{ getv (printf "/opg/nginx/router/%s/vhost" .) }};

    {{ with $client_max_body_size_key := (printf "/opg/nginx/router/%s/client/max/body/size" .) }}
    {{ if exists $client_max_body_size_key }}
    client_max_body_size {{ getv $client_max_body_size_key }};
    {{ end }}
    {{ end }}

    proxy_buffering off;

    location / {
        proxy_pass {{ getv (printf "/opg/nginx/router/%s/target" .) }};
        proxy_set_header Host            $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
}
{{ end }}
