open_mode: True
pillar_opts: True
file_roots:
  base:
    - /srv/salt
    - /srv/salt/_libs
    - /srv/salt-formulas
    - /srv/salt/reactor

pillar_roots:
  base:
    - /srv/common

fileserver_backend:
  - roots
reactor:
  - 'salt/custom/*':
    - 'salt://salt_custom.sls'
  - 'foofile':
    - 'salt://reactor.sls'
peer:
  .*:
    - grains.get
