{
    "CN": "caserver",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "hosts": [
        "caserver.domain",
        "caserver"
    ],
    "names": [
        {
            "C": "UK",
            "L": "England",
            "O": "OPG Digital",
            "ST": "AWS"
        }
    ]
}
