{{ if exists "/jenkins/dockercfg/url" }}
{
  "{{ getv "/jenkins/dockercfg/url" }}": {
    "email": "{{ getv "/jenkins/dockercfg/email" }}",
    "username": "{{ getv "/jenkins/dockercfg/username" }}"
    "password": "{{ getv "/jenkins/dockercfg/password" }}"
  }
}
{{end}}