{{ if exists "/jenkins/dockercfg/url" }}
{
	"auths": {
		"{{ getv "/jenkins/dockercfg/url" }}": {
		  	"auth": "{{ getv "/jenkins/dockercfg/auth" }}",
		  	"email": "{{ getv "/jenkins/dockercfg/email" }}",
		}
	}
}
{{end}}
