{
    {{if exists "/opg/base/csr/cn"}}
    "CN": "{{ getv "/opg/base/csr/cn" }}",
    {{end}}

    "key": {
        "algo": "rsa",
        "size": 2048
    },

    "hosts": [
    {{if exists "/opg/base/csr/hosts" }}
      {{ $hosts := split (getv "/opg/base/csr/hosts") "," }}
      {{range $hosts}}
        "{{.}}",
      {{end}}
    {{end}}
      "{{ getv "/hostname" }}.{{ getv "/opg/base/domain" }}"
    ],

    "names": [
        {
            "C": "UK",
            "L": "England",
            "O": "OPG Digital",
            "ST": "AWS"
        }
    ]
}
