{
  "signing": {
    "default": {
      "auth_remote": {
        "remote": "caserver",
        "auth_key": "key1"
      }
    }
  },
  "auth_keys": {
    "key1": {
      "key": "{{if exists "/opg/base/cakey" }}{{getv "/opg/base/cakey"}}{{end}}",
      "type": "standard"
    }
  },
  "remotes": {
    "caserver": "caserver:8888"
  }
}
