{
    "signing": {
        "server": {
            "auth_key": "key1",
            "remote": "caserver"
        }
    },
    "auth_keys": {
        "key1": {
            "key": "0123456789ABCDEF0123456789ABCDEF",
            "type": "standard"
        }
    },
    "remotes": {
        "caserver": "caserver:8888"
    }
}
