#! /bin/bash
{{ if exists "/jenkins/master/url" }}
set -e
url={{ getv "/jenkins/master/url" }}
port={{ getv "/jenkins/master/port" }}
slave_name={{ getv "/jenkins/slave/name" }}

rm slave*jar*

wget ${url}/jnlpJars/slave.jar

java -jar slave.jar -jnlpUrl ${url}:${port}/computer/${slave_name}/slave-agent.jnlp
{{ end }}