#! /bin/bash
{{ if exists "/jenkins/master/url" }}
set -e

java -jar slave.jar -jnlpUrl http://{{ getv "/jenkins/master/url" }}:{{ getv "/jenkins/master/port/" }}computer/{{ getv "/jenkins/slave/name" }}/slave-agent.jnlp
{{ end }}