#! /bin/bash
{{ if exists "/jenkins/master/url" }}
set -e
url={{ getv "/jenkins/master/url" }}
port={{ getv "/jenkins/master/port" }}
slave_name={{ getv "/jenkins/slave/name" }}

if [ -e slave.jar ]
then
    rm slave.jar
fi

wget ${url}:${port}/jnlpJars/slave.jar

java -jar slave.jar -jnlpUrl ${url}:${port}/computer/${slave_name}/slave-agent.jnlp
{{ end }}