[beaver]
redis_url: redis://monitoring:6379/0
redis_namespace: logstash
logstash_version: 1
queue_timeout: 3600

[/var/log/ebs-snapshot.log]
format: json
type: ebs-snapshot
tags: ebs-snapshot, {{ getv "/opg/service" }} {{ if exists "/opg/stackname" }}, {{ getv "/opg/stackname" }} {{ end }}
delimiter: \n
